.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.card-deck{
  margin-top:70px;
}
.card{
  display: inline-block;
}
.padRight5{
  padding-right: 5px;
}
.drpSelect{
  height: 30px;
}
.card-width{
  margin-top:10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  
  width: 400px;
  height: 400px;
}
.card-width>img{
  height: 190px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
